# Dependencies
node_modules/
.pnp
.pnp.js

# Env
.env
.env.local
.env.*.local
!.env.example

# Builds / caches
.next/
out/
dist/
build/
.tmp/
.cache/
*.tsbuildinfo
.strapi/

# Logs & OS
*.log
npm-debug.log*
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Uploads / DB (local Strapi)
cms/.tmp/
cms/public/uploads/*
!cms/public/uploads/.gitkeep

# Misc
AGENTS.md
